<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jackpal.androidterm"
      android:versionName="1.0.39" android:versionCode="40"
      android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:icon="@drawable/app_terminal"
                android:label="@string/application_terminal">
        <activity android:name="Term"
                android:theme="@style/Theme"
                android:launchMode="singleTask"
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TermPreferences"/>
        <activity android:name="WindowList"/>
        <service android:name="TermService" />
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
</manifest>
