<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jackpal.androidterm"
      android:versionName="1.0.20" android:versionCode="21">
   <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/app_terminal"
                android:label="@string/application_terminal">
        <activity android:name="Term"
                android:theme="@style/Theme"
                android:launchMode="singleInstance"
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TermPreferences"/>
    </application>
    <uses-sdk android:minSdkVersion="4" />
</manifest>
