body {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 22px;
}

a, abbr, acronym, address, applet, article, aside, aside, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, ins, kbd, label, legend, li, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1, h2, h3 {
  font-family: "open sans",sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

li {
  padding: 3px 0;
}

a {
  color: #245dc1;
  text-decoration: none;
}

a:visited {
  color: #7759ae;
}

.page-width-container {
  margin: 0 auto;
  max-width: 978px;
  padding: 30px 0 72px;
}

@media all and (max-width: 1043px) {
  .page-width-container {
    margin-left: 30px;
  }
}

@media all and (max-width: 770px) {
  .page-width-container {
    margin: 0 10px;
    padding: 0;
  }
}


